

   <!-- <div class="container px-md-5 bg-light shadow-lg">
    
      <header class=" header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-green text-decoration-none">
          <img src="/img/logo.jpg" class="logo-img" alt="news blog">
              <h2 class="site-title">NEWS BLOG</h2>
      </a>    
      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
  
          <li>
              <a href="/" class="nav-link px-2 link-secondary">Home</a></li>
              <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
              <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
              <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
              <li><a href="/faq" class="nav-link px-2 link-secondary">Faqs</a></li>
          
          </ul>
     
          <div class="col-md-3 text-end">
              <form method="POST" action="/">
                  <input type="search" name="search" class="form-control" required placeholder="search..." aria-label="search">
               
              </form>
          </div>
  </header> 
   -->

<!-- 
   <div class="wrapper">
    <div class="news">
        <% if (articles !=null) {%>
    <% articles.forEach(function(article, index){%>
        <a href="/article/<%- article.id %>" class="news__card">
            <img src="<%- article.thumbnail_url %>" alt="<%- article.title.rendered %>">
     <h2> <%- article.title.rendered %></h2>
     <p><%- article.excerpt.rendered %></p>
    
    </a>
    <% }) %>
    <%} else {%>
        No posts found try again.
        <% } %>
</div>
</div> -->